<ion-view title="Archive">
  <!-- <ion-nav-buttons side="left">
    <button class="button icon-left ion-log-out button-clear button-light" href="#/login"></i> Log Out</button>
  </ion-nav-buttons>  -->
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons> 
  <ion-content padding="true">
  	<div class="list">
        <a ng-repeat="item in prototype" 
           ng-click="goToProduct(item.product.name)"
           class="item item-thumbnail-left">
          <img ng-src="{{ item.product.pics[0] }}">
          <h2>{{ item.product.name}}</h2>
          <h4>{{ item.product.shortDesc }}</h4>
        </a>
    </div>
  </ion-content>
</ion-view>