<ion-view view-title="forgotPassword" name="forgotPassword-view">
<ion-header-bar align-title="center" class="bar-dark">
<a class="button icon-left ion-chevron-left button-clear button-light" href="#/login">Back</a>
  <h1 class="title">Password Recovery</h1>
</ion-header-bar>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="email" placeholder="Plasea enter your email address." ng-model="passwordRecovery.email">
          </label>
          <button class="button button-block button-stable" ng-click="emailPasswordRecovery()">Reset Password</button>
      </div>
      <!-- </br>
      <h3>Or, </br>Answer your Security Question</h3>
      <label class="item item-input">
	    <span class="input-label">Username</span>
	    <input type="text" ng-minlength='3' placeholder="ex. JohnDoe13" ng-model="user.username">
	  </label>
      <label class="item item-input item-select">
      	<div class="input-label">
	      Security Question
	    </div>
	    <select ng-model="passwordRecovery.securityQuestion">
	      <option>What is the name of your first Pet?</option>
	      <option selected>Where were you born?</option>
	      <option>What was the model of your first car?</option>
	    </select>
	  </label>
	  <label class="item item-input">
	    <span class="input-label">Answer</span>
	    <input type="text" ng-model="passwordRecovery.securityAnswer">
	  </label>
      <button class="button button-block button-stable" ng-click="resetPassword()">Reset Password</button> -->
  </ion-content>
</ion-view>