<ion-view title="home">
	<ion-header-bar align-title="center" class="bar-dark">
	<a class="button icon-left ion-chevron-left button-clear button-light" href="#/login">Sign Out</a>
	  <h1 class="title">Home</h1>
    <!-- <button class="button button-icon icon ion-navicon-round"></button> -->
	</ion-header-bar>
  <ion-nav-buttons side="right">
    <button menu-toggle="right" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>     
  <ion-content padding="true">
  	<div class="list">
        <a ng-repeat="item in homeViewList" 
           ng-click="goToProduct(item.product.name)"
           class="item item-thumbnail-left">
          <img ng-src="{{ item.product.logo }}">
          <h2>{{ item.product.name }}</h2>
          <h4>{{ item.product.shortDesc }}</h4>
        </a>
    </div>
  </ion-content>
</ion-view>