<ion-view view-title="resetPassword" name="resetPassword-view">
<ion-header-bar align-title="center" class="bar-dark">
<a class="button icon-left ion-chevron-left button-clear button-light" href="#/forgotPassword">Back</a>
  <h1 class="title">Resetting Your Password</h1>
</ion-header-bar>
  <ion-content class="padding">
      <div class="list list-inset">
         <label class="item item-input">
		    <span class="input-label">New Password</span>
		    <input type="password" ng-minlength='6' ng-maxlength='32' placeholder="ex. JohnDoe13" ng-model="resetPassword.newPassword">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Confirm New Password</span>
		    <input type="password" ng-minlength='6' ng-maxlength='32' placeholder="ex. JohnDoe13" ng-model="resetPassword.confirmNewPassword">
		  </label>
		</div>
      <button class="button button-block button-stable" ng-click="resetPassword()">Reset Password</button>
  </ion-content>
</ion-view>