<ion-view title="Settings">
	<ion-header-bar align-title="center" class="bar-dark">
	<a class="button icon-left ion-chevron-left button-clear button-light" href="#/login">Sign Out</a>
	  <h1 class="title">Settings</h1>
	</ion-header-bar>
  <ion-content >
  	<div class="list card">
	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-android-person"></i>
	    Profile
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-android-notifications"></i>
	    Notifications
	  </a>

	  <a class="item item-icon-left" href="#">
	    <i class="icon ion-android-share-alt"></i>
	    Sharing
	  </a>
	</div>
  </ion-content>
</ion-view>