<ion-view view-title="signup" name="signup-view">
<ion-header-bar align-title="center" class="bar-dark">
<a class="button icon-left ion-chevron-left button-clear button-light" href="#/login">Back</a>
  <h1 class="title">Sign up</h1>
</ion-header-bar>
  <ion-content class="padding">
      <div class="list">
      	<div ng-show="accountCreated">
		<div class="item item-divider">
			Personal Information
		</div>
          <label class="item item-input">
		    <span class="input-label">First Name</span>
		    <input type="text" placeholder="ex. John" ng-model="user.firstName">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Last Name</span>
		    <input type="text" placeholder="ex.Doe" ng-model="user.lastName">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Date of Birth</span>
		    <input type="text" ng-model="user.dateOfBirth">
		  </label>
		  <div class="item row">
		  	<div class="col">
		  		<h2>Gender:<h2>
		  	</div>
		  	<div class="col col-75">
			  <label class="item item-radio">
			    <input type="radio" name="gender">
				    <ion-radio ng-model="user.gender" ng-value="'Male'">Male</ion-radio>
				    <ion-radio ng-model="user.gender" ng-value="'Female'">Female</ion-radio>
			    <i class="radio-icon ion-checkmark"></i>
			  </label>
			</div>
			</div>
			<div class="item item-divider">
				Contact Details
			</div>
			<label class="item item-input">
		    <span class="input-label">Street Address</span>
		    <input type="text" placeholder="ex. 1234 Example Street" ng-model="user.address.street">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">City</span>
		    <input type="text" placeholder="ex. Phoenix" ng-model="user.address.city">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">State</span>
		    <input type="text" placeholder="ex. Arizona" ng-model="user.address.state">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Zip Code</span>
		    <input type="text" placeholder="ex. 12345" ng-model="user.address.zip">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Phone Number</span>
		    <input type="text" placeholder="" ng-model="user.phoneNumber">
		  </label>
		</div> 
		<div ng-hide="accountCreated">
			<div class="item item-divider">
			Account Information
		</div>
		  <label class="item item-input">
		    <span class="input-label">Email</span>
		    <input type="email" placeholder="ex@ample.com" ng-model="user.email">
		  </label>
		  <!-- <label class="item item-input">
		    <span class="input-label">Username</span>
		    <input type="text" placeholder="ex. JohnDoe13" ng-model="user.username">
		  </label> -->
		  <label class="item item-input">
		    <span class="input-label">Password</span>
		    <input type="password" placeholder="ex. JohnDoe13" ng-model="user.password">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Confirm Password</span>
		    <input type="password" placeholder="ex. JohnDoe13" ng-model="user.confirmPassword">
		  </label>
		  <!-- <label class="item item-input item-select">
		  	<div class="input-label">
		      Security Question
		    </div>
		    <select ng-model="user.securityQuestion">
		      <option>What is the name of your first Pet?</option>
		      <option selected>Where were you born?</option>
		      <option>What was the model of your first car?</option>
		    </select>
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Answer</span>
		    <input type="text" ng-model="user.securityAnswer">
		  </label> -->
      	<h3>Terms and Conditions</h3>
      	<textarea rows="4" cols="40">
		    This is a basic Card which contains an item that has wrapping text. Cards have become widely used in recent years. They're are a great way to contain and organize information, while also setting up predictable expectations for the user. With so much content to display at once, and often so little screen realestate, cards have fast become the design pattern of choice for many companies, including the likes of Google, Twitter, and Spotify..

			For mobile experiences, Cards make it easy to display the same information visually across many different screen sizes. They allow for more control, are flexible, and can even be animated. Cards are usually placed on top of one another, but they can also be used like a "page" and swiped between, left and right. 
		  </textarea>
      	<ion-checkbox ng-model="user.termsAndConditionsChecked" required>Agree to the Terms and Conditions</ion-checkbox>
      </div>
      </div>
      <button class="button button-block button-stable" ng-click="signupComplete()">{{buttonText}}</button>
  </ion-content>
</ion-view>