<ion-tabs class="tabs-black tabs-icon-top">

  <ion-tab title="Home" icon-on="ion-ios-home" icon-off="ion-ios-home-outline"  href="#/tab/home">
    <ion-nav-view name="home-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Archive" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/archive">
    <ion-nav-view name="archive-tab"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Settings" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/tab/settings">
    <ion-nav-view name="settings-tab"></ion-nav-view>
  </ion-tab>
</ion-tabs>
